<h2>Editing disabled</h2>
<p>In order to maintain data integrity, editing submitted data is prohibited. If you made an error, please destroy your data record and create a new one.</p>
<br><br>
<%= link_to 'Destroy Record', @tree, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Show Record', @tree %>
